<!DOCTYPE html>
<html>
<head>

    <!-- Responsive Part -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>API - Get</title>

    <!-- CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->      <!-- pentru font -->
    <link href="../static/css/agency.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-light-gray">
<!-- Bara de navigare -->
<nav class="navbar-custom navbar-custom-api navbar-margins">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand brand-color page-scroll" href="/">Book Lovers</a>
            </div>

            <!-- Linkurile pentru navigare cu toate detaliile -->
            <div class="collapse navbar-collapse newcolor-navbar " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right text-navtab">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/api">Bine ai venit!</a>
                    </li>
                </ul>
            </div>
 </nav>

<div id="api-start-page" class=" padding-10-section no-padding-section">

    <div class="nav-side-menu">
       <div class="sidenav borduri " id="mySidenav">
           <a class="page-scroll border" href="/api/post">Post</a>
           <a class="page-scroll border" href="/api/get">Get</a>
       </div>
    </div>

        <br><br><br>
        <div class="col-md-9 col-md-offset-3">
        <form class="form" action="" method="POST" enctype=multipart/form-data>
			<div class = "form-group input">
			{{form.isbn.label}}
			{{form.isbn(class_="form-control", placeholder="")}}
			</div>
{{form.submit(class_="btn btn-primary")}}
			<div class = "form-group input">
			{{form.autor.label}}
			{{form.autor(class_="form-control", placeholder="")}}
			</div>
{{form.submit(class_="btn btn-primary")}}
			<div class = "form-group input">
			{{form.titlu.label}}
			{{form.titlu(class_="form-control", placeholder="")}}
			</div>
{{form.submit(class_="btn btn-primary")}}
			<div class = "form-group input">
			{{form.editura.label}}
			{{form.editura(class_="form-control", placeholder="")}}
			</div>
			{{form.submit(class_="btn btn-primary")}}
		</form>
        </div>
</div>

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <script src="../static/js/agency.min.js"></script>
    <script src="../static/js/index.js"></script>
    <!-- Effects (in this order)  -->
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/efwow.js"></script>

</body>
</html>