<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Responsive Part -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error Haters</title>

    <!-- CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->      <!-- pentru font -->
    <link href="../static/css/agency.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

<!-- Bara de navigare-->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Book Lovers</a>
            </div>

            <!-- Linkurile pentru navigare cu toate detaliile -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/detalii#services">Despre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/detalii#about_project">Proiect</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/detalii#team">Echipa</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

 <!-- Contact Section -->


    <section id="contact">
        
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Contactează-ne</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form method="post" class ="" enctype = "multipart/form-data">
                            <div class="row">
                                <p class="help-block text-danger">{{message}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Name -->
                                    <div class = "form-group">
                                        <input type="text" id="name" {{form.nume(class_="form-control", placeholder="Nume, Prenume *")}}>
                                    </div>
                                    {% if nameerror %}               
                                        <p class="help-block text-danger">{{nameerror}}</p>
                                    {% endif %}
                                    <!-- Email -->
                                   <div class = "form-group">
                                       <input type="email" id="email" {{form.email(class_="form-control", placeholder="Email *")}}>
                                    </div>
                                    {% if emailerror %}
                                        <p class="help-block text-danger">{{emailerror}}</p>
                                    {% endif %}
                                    <!-- Phone -->
                                   <div class = "form-group">
                                       <input type="tel" id="phone" {{form.telefon(class_="form-control", placeholder="Telefon")}}>
                                    </div>
                                </div>
                                    <!-- Message -->
                                <div class="col-md-6">
                                    <div class = "form-group">
                                        <textarea type="message" {{form.mesaj(class_="form-control", placeholder="Mesaj:")}}></textarea>
                                    </div>
                                    {% if mesajerror %}
                                         <p class="help-block text-danger">{{mesajerror}}</p>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl">Trimite</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
    </section>

    <footer class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="copyright"><strong>Copyright &copy; Book Lovers 2017</strong></span>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <script src="../static/js/agency.min.js"></script>
    <script src="../static/js/index.js"></script>

    <!-- Effects (in this order)-->
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/efwow.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_us.js"></script>
</body>
</html>